@model InspireMe.Models.BookaMeetingViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Görüşme Ayarla"];
    var availabledays = System.Text.Json.JsonSerializer.Serialize(ViewBag.availabledays);
    var fulldays =  System.Text.Json.JsonSerializer.Serialize(ViewBag.availabledays);
}

<h4>@Localizer["Görüşme Ayarla"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookaMeeting" asp-controller="Bookings" asp-area="Client"  method="post" data-ajaxform data-parentid="ContentPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="UserId" type="hidden"  />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input ty asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <select asp-for="Hour" disabled class="form-control"></select>
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Görüşme Ayarla"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<scpipt>
    var availabledays = JSON.parse('@Html.Raw(availabledays)');
    var fulldays = JSON.parse('@Html.Raw(fulldays)');
    
    $('#Date').datepicker({minDate: 0, maxDate: "+2W",dateFormat : 'dd/mm/yy',
    beforeShowDay: function (date) {
        var dayofweek = date.getDay();
        return [Object.keys(availabledays).indexOf(dayofweek.toString()) != -1];
    },
    onSelect: function (date, datepicker) {
                    
                        var currentDate = $(this).datepicker( "getDate" );
                        if (currentDate != null) {
                        var parseddate = $.datepicker.formatDate( "dd_mm_yy", new Date(currentDate) );
                        var dayofweek = date.getDay();
                        $("#Hour").empty();
                        if(availabledays[dayofweek.toString()]!==undefined){

                            availabledays[dayofweek.toString()].forEach((day,index) =>{
                                if (fulldays[parseddate]!==undefined){
                                    if(fulldays[parseddate].indexOf(day.hour) == -1){
                                        var option = $('<option></option>').attr("value", day.hour).text(day.hour.toString() + ": =>" + day.price.toString()+ "TL");
                                        $("#Hour").append(option);
                                    }
                                }
                                else{
                                    var option = $('<option></option>').attr("value", day.hour).text(day.hour.toString() + ": =>" + day.price.toString()+ "TL");
                                        $("#Hour").append(option);
                                }
                            });
                            var option = $('<option></option>').attr("value", "option value").text("Text");
                        }
                    }
                
});
</scpipt>

<div>
    <a href="#" data-bs-dismiss="modal">@Localizer["Kapat"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
