@model InspireMe.Models.CreateAvailableDayViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] =  Localizer["Saat Ekle"];
}

<h4>@Localizer["Saat Ekle"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAvailableDates" asp-controller="Manage"  asp-area="Supervisor" method="post" data-ajaxform data-ajaxafter="$('#PageModal').modal('hide');" data-parentid="PageModalContent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <select  asp-for="Day" class="form-select">
                     <option value="1">@Localizer["Pazartesi"]</option>
                     <option value="2">@Localizer["Salı"]</option>
                     <option value="3">@Localizer["Çarşamba"]</option>
                     <option value="4">@Localizer["Perşembe"]</option>
                     <option value="5">@Localizer["Cuma"]</option>
                     <option value="6">@Localizer["Cumartesi"]</option>
                     <option value="0">@Localizer["Pazar"]</option>
                </select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <select  asp-for="Hours" class="form-select">
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     <option value="13">14</option>
                     <option value="14">14</option>
                     <option value="15">15</option>
                     <option value="16">16</option>
                     <option value="17">17</option>
                     <option value="18">18</option>
                     <option value="19">19</option>
                     <option value="20">20</option>
                     <option value="21">21</option>
                     <option value="22">22</option>
                     <option value="23">23</option>
                </select>
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Kaydet"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="#" data-bs-dismiss="modal">@Localizer["Kapat"]</a>
</div>

<script>
    $("#Hours").selectize({
  maxItems: 24,
});
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
