@model IEnumerable<InspireMe.Data.AvailableDate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] =  Localizer["Uygun Günler ve Saatler"];
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}
<script>
updateTitle('@ViewData["Title"]');
</script>
<h1>@Localizer["Uygun Günler ve Saatler"]</h1>

<div class="container">

    <div class="card">
  <div class="card-body">
<p>
    <a data-ajax data-nonstate data-ajaxafter="$('#PageModal').modal('show');"  data-target="PageModalContent" class="btn btn-primary" asp-area="Supervisor" asp-controller="Manage" asp-action="CreateAvailableDates" >@Localizer["Ekle"]</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>
                @Localizer["Gün"]
            </th>
            
            <th>
                @Localizer["Saat"]
            </th>
            <th>
                @Localizer["Fiyat"]
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @culture.DateTimeFormat.GetDayName((DayOfWeek)item.Day)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
           
            <td>
                 <a data-ajax data-nonstate data-ajaxafter="$('#PageModal').modal('show');"  data-target="PageModalContent" class="btn btn-danger" asp-area="Supervisor" asp-controller="Manage" asp-action="DeleteAvailableDate" asp-route-id="@item.Id">@Localizer["Sil"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
